body {
    margin: 0px;
    font-family: 'Strait';
}

header {
    background-color: #444443;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

nav li {
    font-family: 'Strait', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.snow {
    opacity: .2;
    position: fixed;
    top: 0px;
    z-index: -1;
}

main {
    position: relative;
    top: 79px;
}

main h1 {
    color: #333;
    font-family: 'Strait', sans-serif;
    font-weight: 900;
    font-size: 90px;
    padding: 90px;
    text-transform: uppercase;
  }

.container {
    background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url('file://C:/Projects/Banshee/Resources/img/Progress.JPG');
    background-size: contain;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.btn-main {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-family: 'Strait', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 20px;
    margin-bottom: 70px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-main:hover {
    color:#d1bf77;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #444443;
    width: 100%;
    z-index: 1;
}

footer p {
    font-family: 'Strait', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}


a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color:#d1bf77;
}

a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
